
.vscode
node_modules/
.DS_Store

# ignore

chickens.html
package-lock.json
01_helloWorld/
02_repeatString/
03_reverseString/
04_removeFromArray/
05_sumAll/
06_leapYears/
07_tempConversion/
08_calculator/
09_palindromes/
10_fibonacci/
11_getTheTitles/
12_findTheOldest/
13_caesar/
generator-exercise/
pigLatin/
snakeCase/
.eslintignore
.eslintrc.json
package-lock.json
package.json
README.md